body {
  color: #283149;
  font-family: Proxima Nova,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-feature-settings: "kern","liga","pnum";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
.btn-custom {
  background-color: #283149;
  color: #f73859;
}
.nav-custom {
  background-color: #283149;
}
.icon-color, a {
  color: #f73859;
}
a:hover {
  color: #c4203b;
}
video {
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
}
.modal {
  background-color: rgba(20, 17, 17, 0.5);
}
#vid {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 16, 22);
}

#messages{
  height: 50vh;
  border-left: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
}
.sendMsgForm {
  position: relative;
  top: 0;
  right: 0;
}
#currentStream > video {
 width: 100%;
}

canvas {
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

footer a{
  color: #283149;
}
footer a:hover {
  color: #f73859;
}

.bg-footer a {
  color: #f73859;
}